.recipe {
	&__item {
		font-size: 1.4rem;
		color: #777;
		cursor: pointer;

		&:hover {
			.ant-image .ant-image-img {
				box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
			}
		}

		&-img {
			margin-bottom: 0.5rem;
			& .ant-image .ant-image-img {
				border-radius: 2rem;
			}
		}
		&-details {
			padding: 0 1rem;
		}
		&-title {
			color: #4d4d4d;
			font-size: 2.5rem;
			line-height: 2.4rem;
			font-weight: 600;
			margin-bottom: 1rem;
		}
		&-description {
			margin-bottom: 0.8rem;
		}
		&-preparation {
			font-weight: 500;
		}
		&-icon {
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}
