.recipe {
	&__content {
		padding: 2rem;
	}

	&__category {
		margin-bottom: 3rem;

		& .ant-btn {
			font-size: 2.5rem;
			font-weight: 500;
			color: #4d4d4d;
			position: relative;
			padding: 0;

			&:hover {
				color: #666666;
				&::after {
					background-color: #666666;
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 130%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&::after {
				width: 3rem;
				height: 0.2rem;
				background-color: #4d4d4d;
				display: inline-block;
			}
		}
	}
}

.loading {
	height: 50vh;
	text-align: center;
}
