.header {
	&__child {
		background-color: #dddddd;
		position: relative;
		padding: 2rem 2rem 4rem 2rem;
		border-bottom-right-radius: 3rem;
		border-bottom-left-radius: 3rem;
		overflow: hidden;

		.ant-input-affix-wrapper {
			background-color: transparent;
			border: none;
			box-shadow: none;
			border-radius: 0;
			border-bottom: 0.1rem solid #333333;

			&:hover {
				border-bottom: 0.1rem solid #666666;
				& .anticon {
					color: #96958d;
				}
			}

			&:focus,
			&:active {
				border: none;
				outline: none;
				border-bottom: 0.1rem solid #96958d;
				box-shadow: none;
				& .anticon {
					color: #96958d;
				}
			}

			&:not(.ant-input-affix-wrapper-disabled):hover {
				border: none;
				outline: none;
				box-shadow: none;
				border-bottom: 0.1rem solid #96958d;
			}
		}
	}

	&__search {
		width: 30rem;

		.ant-input-affix-wrapper-lg {
			font-size: 2rem;
		}

		& .ant-input {
			font-size: 2rem;
			color: #4d4d4d;
			background-color: transparent;
		}
	}
	&__avatar {
		& .ant-avatar {
			float: right;
		}
	}
}
