.preview {
	&__button {
		position: absolute;
		top: 3rem;
		left: 1rem;
		z-index: 999;
		& .anticon {
			color: #fff;
			font-size: 4rem;
		}
	}

	&__item {
		height: 15vh;
		position: relative;
	}
	& .recipe {
		&__item {
			font-size: 1.6rem;
		}
	}

	&__details {
		background-color: #eeeeee;
		padding: 3rem 2rem 0 2rem;
		border-top-left-radius: 3rem;
		border-top-right-radius: 3rem;
		margin-top: -5rem;
	}
	&__tabs {
		&-group {
			padding: 0 2rem 1.2rem 2rem;

			& .ant-radio-group {
				padding: 1rem;
			}

			& .ant-radio-button-wrapper {
				font-size: 2rem;
				font-weight: 500;
				color: #777;
				background-color: transparent;
				border: none !important;
				box-shadow: none !important;
				position: relative;

				&:hover {
					color: #666666;
				}
			}

			& .ant-radio-button-wrapper-checked {
				color: #4d4d4d;
				border: none !important;
				box-shadow: none !important;

				&::after {
					content: '';
					position: absolute;
					top: 110%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&::after {
					width: 5rem;
					height: 0.2rem;
					background-color: #4d4d4d;
					display: inline-block;
				}
			}

			&
				.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
				border-right-color: transparent;
			}

			&
				.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
				background-color: transparent;
			}
			& .ant-radio-button-wrapper:not(:first-child)::before {
				content: none;
			}
		}

		&-content {
			padding: 1.2rem 2rem;
			background-color: #dddddd;
		}

		&-list {
			& .ant-list-item-meta-content .ant-list-item-meta-title {
				color: #777;
				font-size: 1.6rem;
			}
		}
	}
	& .ant-list {
		& .ant-list-items {
			& .ant-list-item {
				padding: 2rem 1rem;
				border-radius: 1rem;
				&:hover {
					box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}
