*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400 !important;
	box-sizing: border-box;
	color: #777;
	line-height: 1.7;
}
