.header {
	background-color: #eeeeee;
}
.main {
	// padding: 1.2rem 2rem;
	position: relative;
	background: #eeeeee;
}

.footer {
	background-color: #dddddd;
	text-align: center;
	color: #777;
	padding: 2rem;
}
